<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E4964941DF6B67F005FA9FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E4964AB1DF6B680005FA9FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E4964B61DF6B680005FA9FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
